// call out feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background: none repeat scroll 0% 0% $header-desc-background-color;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}
// post listing
.posts {
   background-color: #FFFFDD;
   display: inline-block;
  .post-teaser {
    @extend %padding-regular;
    width: 45em;
    padding: 5px 0px 5px 10px;
    border-top: 5em;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    border-right: 5em solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
    font-size: .8em;
  }
  
}
.resto {  
    background-color: #FFFFDD;
    margin: 0em;
    border: 0em;
    padding: 0em;
    display: inline-block;
    padding: 5px 0px 5px 10px;
   }
// pagination
.pagination .button {
  margin-left: 1em;
}
.pagination {
  padding: 0 $padding-large;
  text-align: center;
}
